body {
    width: 520px;
    min-height: 400px;
    margin: 0;
    padding-left: 8px;
}

.popup-padded {
    padding: 0 8px 8px;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-weight: 600;
    color: darkblue;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2px;
}

.rowWithIcons {
    display: flex;
    height: 21px;
    align-items: center;
}

.leftMargin {
    margin-left: 4px;
}

.rightMargin {
    margin-right: 4px;
}

.paddedBlock {
    padding: 4px;
}

select {
    height: 20px;
}

.errorTypeSelect {
    max-width: 330px;
}

.separator {
    width: 1px;
    height: 16px;
    align-self: center;
    color: rgba(0, 0, 0, 0.54);
    margin: 0 4px;
    background-color: rgba(0, 0, 0, 0.32);
    margin-block-end: 0;
    border: 0;
    margin-block-start: 0;
}

.deviceStaticButtons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.deviceDynamicButtons {
    display: flex;
    align-items: center;
}
